<!DOCTYPE html>
<html>

<head>
    <title>テキスト入力フォーム</title>
    <style>
        input {
            font-size: 100%;
        }

        textarea {
            font-size: 150%;
            resize: none;
            vertical-align: top;
        }

        #draft_date {
            font-size: 100%;
        }

        #summary {
            font-size: 120%;
        }

        label {
            display: inline-block;
            text-align: right;
            width: 200px;
        }
    </style>
</head>

<body>
    <center>
        <h2>起案サポートシステム</h2>
    </center>
    <form action="/get_text" method="post">
        <label for="doc_number">文書番号:</label>
        <input type="text" id="doc_number" name="doc_number">
        <br>
        <br>
        <label for="doc_date">文書の日付:</label>
        <input type="text" id="doc_date" name="doc_date">
        <br>
        <br>
        <label for="draft_date">起案日 :</label>
        <input type="text" id="draft_date" name="draft_date" value="起案 ">
        <br>
        <br>
        <label for="drafter">起案者 :</label>
        <input type="text" id="drafter" name="drafter" style="width: 400px;">
        <br>
        <br>
        <label for="summary">摘要 :</label>
        <textarea id="summary" name="summary" rows="2" cols="40"></textarea>
        <br>
        <br>
        <label for="input_text">本文入力 :</label>
        <textarea id="input_text" name="input_text" rows="14" cols="78"></textarea>
        <br>
        <br>
        <label for="filename">ファイル名:</label>
        <input type="text" id="filename" name="filename">
        <br>
        <br>
        <br>
        <center><input type="submit" value="Wordテンプレートに出力"></center>
    </form>
</body>

</html>
